# Arquivos e pastas do Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env

# Ambiente virtual
venv/
.virtualenvs/

# Configurações sensíveis do Flask
instance/
config.py

# Banco de dados local
*.sqlite3
*.db

# Logs
*.log

# Cache do Pytest
.pytest_cache/

# Cache do MyPy
.mypy_cache/
